# SPDX-License-Identifier: GPL-2.0-only
#
# RISCV CPU Idle drivers
#
config RISCV_CPUIDLE
        bool "Generic RISCV CPU idle Driver"
        select DT_IDLE_STATES
	select CPU_IDLE_MULTIPLE_DRIVERS
        help
          Select this to enable generic cpuidle driver for RISCV.
          It provides a generic idle driver whose idle states are configured
          at run-time through DT nodes. The CPUidle suspend backend is
          initialized by calling the CPU operations init idle hook
          provided by architecture code.
