# SPDX-License-Identifier: GPL-2.0-only
#
# RISC-V CPU Frequency scaling drivers
#

config RISCV_ALLWINNER_SUN50I_CPUFREQ_NVMEM
	tristate "ARCH RISCV Allwinner nvmem based SUN50I CPUFreq driver"
	depends on ARCH_SUNXI
	depends on NVMEM_SUNXI_SID
	select PM_OPP
	help
	  This adds the nvmem based CPUFreq driver for Allwinner
	  h6 SoC.

	  To compile this driver as a module, choose M here: the
	  module will be called sun50i-cpufreq-nvmem.
